<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" property="og:description" content="A cybersecurity CTF competition with challenges of all difficulty levels">
    <meta name="author" content="BCA CTF Club">
    <meta content="{{eventname}}" property="og:title" />
    <meta content="{{eventlogo}}" property="og:image" />
    <title>{{title}}</title>
</head>