# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
pnpm-lock.yaml
package-lock.json

tsconfig.ts-prune.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*.sql
*.png

test-*.json


# Explicitly allowing individual schemas to prevent against accidentally committing secrets/ids
envcfg/*.json
!envcfg/oauth-schema.json
!envcfg/competition-schema.json
!envcfg/config-schema.json
logs/*.log
