<!DOCTYPE html>
<html lang="en">
{{> head title=(concat '404 | ' eventname)}}

<body>
    {{> header }}
    <h1>404</h1>
    <p>Page not found</p>
    <a href="/">Home</a>
    {{> footer }}
</body>

</html>