<!DOCTYPE html>
<html lang="en">
{{> head title=(concat 'Reset password | ' eventname)}}

<body>
    {{> header }}
    <h1>Forgot your password?</h1>
    <form action="/forgot-password" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <input type="submit" value="Send instructions to reset password">
    </form>
    <a href="register">Register</a>
    <a href="/reset-password">Forgot your password?</a>
    {{> footer }}
</body>

</html>