<!DOCTYPE html>
<html lang="en">
{{> head title=(concat 'Reset password | ' eventname)}}

<body>
    {{> header }}
    <h1>Reset your password</h1>
    <p>You'll be asked to join or create a team later.</p>
    <form action="/reset-password" method="post">
        <label for="password">New password</label>
        <input type="password" name="password" id="password" required>
        <label for="confirmpassword">Confirm new password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" required>
        <input type="submit" value="Reset password">
    </form>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    {{> footer }}
</body>

</html>