<!DOCTYPE html>
<html lang="en">
{{> head title=(concat 'Register | ' eventname)}}

<body>
    {{> header }}
    <h1>Register</h1>
    {{#if error}}
    <div class="errorBox">
        <p>{{{error}}}</p>
    </div>
    {{/if}}
    <p>You'll be asked to join or create a team later.</p>
    <form action="/register" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <input type="submit" value="Register">
    </form>
    {{> footer }}
</body>

</html>