<!DOCTYPE html>
<html lang="en">
{{> head title=(concat 'Rules | ' eventname)}}

<body>
    {{> header }}
    <h1>Rules</h1>
    <h2>Eligibility</h2>
    <p>Any team of up to five people can participate in {{eventname}}! However, for a team to be eligible to receive
        prizes, all team members must live in the U.S.A. and be attending a middle or high school or be home-schooled.
        There will be a separate scoreboard for eligible teams, but anyone from around the world is invited to
        participate and will be eligible for CTFtime points.</p>

    <h2>Rules</h2>
    <ol>
        <li>You can use any software, tool, or internet resource to solve the CTF challenges (subject to the
            restrictions below).</li>
        <li>While you can ask anyone for help with technical assistance on preexisting software, you cannot collaborate
            with anyone outside your team on solutions to challenges.</li>
        <li>A {{eventname}} team can have up to five people.</li>
        <li>Each team member must have their own account and all team members must be registered to the same team.</li>
        <li>No flag, solution, or hint sharing between teams. Also, do not accept any hints or guidance from anyone
            besides {{eventname}} staff.</li>
        <li>Do not attack our infrastructure for any purpose other than solving challenges, and do not attack other
            teams.</li>
        <li>You may submit multiple times if your flags are incorrect, but do not brute-force flags.</li>
        <li>We reserve the right to require verification from top teams before prize distribution, including photo
            identification and problem write-ups.</li>
        <li>We reserve the right to take any administrative action (including but not limited to disqualification) if
            necessary. All decisions by {{eventname}} administration are final.</li>
        <li>Have fun!</li>
    </ol>
    {{> footer }}
</body>

</html>