<!DOCTYPE html>
<html lang="en">
{{> head title=(concat 'Create or Join a Team | ' eventname)}}

<body>
    {{> header }}
    <h1>Join or Create a Team</h1>
    {{#if error}}
        <div class="errorBox">
            <p>{{{error}}}</p>
        </div>
    {{/if}}
    <div>
        <h2>Create a Team</h2>
        <p>Notice: only teams comprised of U.S. middle and high school students are eligible for prizes</p>
        <h3>Password Requirements</h3>
        <ul>
            <li>At least 8 characters</li>
            <li>At least 1 uppercase letter</li>
            <li>At least 1 lowercase letter</li>
            <li>At least 1 number</li>
            <li>At least 1 special character</li>
        </ul>
        <form action="/create_team" method="post">
            <label for="teamname">Team Name</label>
            <input type="text" name="teamname" id="teamname" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" id="password2" required>
            <label for="affliation">Affiliation</label>
            <input type="text" name="affiliation" id="affiliation" required>
            <input type="submit" value="Create Team">
    </div>
    <div>
        <h2>Join a Team</h2>
        <form action="/join_team" method="post">
            <label for="teamname">Team Name</label>
            <input type="text" name="teamname" id="teamname" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Join a Team">
        </form>
    </div>
    {{> footer }}
</body>

</html>