.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    min-height: 25rem;
}

.text-banner {
    font-family: 'Courier New', Courier, monospace;
    font-size: 6rem;
    font-weight: 600;
    margin: 1rem;
}

.quote {
    margin: 0.5rem;
    text-align: center;
}

.directory {
    display: flex;
    align-items: center;
    
    padding: 0.5rem 0 0.5rem 0 ;

    border-top: 0.2rem solid #444444;

    margin-top: 1rem;

    & > * {
        min-width: 7rem;
        padding: 0.5rem;
        text-align: center;
        border-right: 0.1rem solid #444444;
        &:last-child {
            border-right: none;
        }
    }
}

.code-block {
    background-color: #1e1e33;
    padding: 0.2rem;
    border-radius: 0.4rem;
    border: 0.15rem solid #333344;
}
