.container {
    padding: 0 2rem;
    padding-top: 4rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow {
    color: yellow;
    font-family: "Courier New", monospace;
    font-weight: bold;
}